@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
*{
    margin:0px;
    font-family: 'Montserrat', sans-serif;
}
.overLay{
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.matrix{
    transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: rotate(360deg);
}
.light{
    background-color: #FFFFFF;
    border:1px solid #23A6F0;
    height: 665px;
}
.dark{
    background-color: #252B42;
    border:1px solid #23A6F0;
    height: 705px;
}
.text-light{
    color:#252B42;
}
.text-dark{
    color:#FFFFFF;
}
